<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <% if(path==="register" ) { %>
        <link rel="stylesheet" href="css/register.css">
        <% } %>
            <% if(path==="login" ) { %>
                <link rel="stylesheet" href="css/login.css">
                <% } %>

</head>

<body>