<div class="mainopShadow"></div>
<div class="fab">
    <div class="mainop">
        <i id="addIcon" class="material-icons">add</i>
    </div>
    <div id="forms" class="minifab op5">
        <img class="minifabIcon"
            src="https://vectr.com/doodleblu/a1y8gN8KKN.svg?width=64&height=64&select=a1y8gN8KKNpage0">
    </div>
    <div id="drawings" class="minifab op4">
        <img class="minifabIcon"
            src="https://vectr.com/doodleblu/b2DCtQvEHF.svg?width=64&height=64&select=b2DCtQvEHFpage0">
    </div>
    <div id="slides" class="minifab op3">
        <img class="minifabIcon"
            src="https://vectr.com/doodleblu/a12WZHDh0z.svg?width=64&height=64&select=a12WZHDh0zpage0">
    </div>
    <div id="sheets" class="minifab op2">
        <img class="minifabIcon"
            src="https://vectr.com/doodleblu/eoOhnACDe.svg?width=64&height=64&select=eoOhnACDepage0">
    </div>
    <div id="docs" class="minifab op1">
        <img class="minifabIcon"
            src="https://vectr.com/doodleblu/bo4WGZSAK.svg?width=64&height=64&select=bo4WGZSAKpage0">
    </div>
</div>