<div class="mainopShadow"></div>
<div class="fab">
    <div class="mainop">
        <img src="images/user.png" alt="user" class="user-img">
    </div>
    <a href="/logout" id="docs" class="minifab op1">
        <img class="minifabIcon" src="images/logout.png">
    </a>
    <p>
        <%= userName %>
    </p>
</div>