<%- include('includes/head.ejs'); %>
    <div class="wrapper">

        <div class="Register-box">
            <form action="/register" method="POST">
                <h2>Register Student</h2>

                <div class="input-box">
                    <input type="email" name="email" required>
                    <label>Email</label>
                </div>

                <div class="input-box">
                    <input type="text" name="name" required>
                    <label>Student Name</label>
                </div>

                <div class="input-box">
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>

                <div class="input-box">
                    <input type="password" name="rePassword" required>
                    <label>Check Password</label>
                </div>

                <button type="submit">Submit</button>

                <div class="register-link">
                    <p>Already have an account? <a href="/login">Login</a></p>
                </div>
            </form>
        </div>

    </div>
    <%- include('includes/end.ejs'); %>